.slider{
    display: flex;
    overflow: hidden;

    width: 100%;
    margin: 0 auto;
}
.slide{
    position: static;
    display: flex;
    width: 100vw;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.image{

}
.controls{
    width: 15%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.radio{
    padding: 10px;
    cursor: pointer;
    fill: black;
}
.radio:hover{
    fill: red;
    transform: scale(1.3);
}
.radio:active{
    fill: rgb(18, 219, 18);
}
#btn0:checked ~ .slide{
    transform: translateX(0vw);
    transition: all .3s ease-in;
}
#btn1:checked ~ .slide{
    transform: translateX(-100vw);
    transition: all .3s ease-in;
}
#btn2:checked ~ .slide{
    transform: translateX(-200vw);
    transition: all .3s ease-in;
}
#btn3:checked ~ .slide{
    transform: translateX(-300vw);
    transition: all .3s ease-in;
}
#btn4:checked ~ .slide{
    transform: translateX(-400vw);
    transition: all .3s ease-in;
}
#btn5:checked ~ .slide{
    transform: translateX(-500vw);
    transition: all .3s ease-in;
}
#btn6:checked ~ .slide{
    transform: translateX(-600vw);
    transition: all .3s ease-in;
}
#btn7:checked ~ .slide{
    transform: translateX(-700vw);
    transition: all .3s ease-in;
}
